---
version: "3.2"
services:
  web:
    image: itzg/rcon
    environment:
      RWA_USERNAME: admin
      RWA_PASSWORD: admin
      RWA_ADMIN: "TRUE"
      # is referring to the hostname of 'mc' compose service below
      RWA_RCON_HOST: minecraftserver
      # needs to match the password configured for the container, which is 'minecraft' by default
      RWA_RCON_PASSWORD: {{ rcon_password }}
    ports:
      - 4326:4326
      - 4327:4327
  minecraftserver:
    image: itzg/minecraft-server:{{ minecraftserver_image_version }}
    container_name: {{ minecraftserver_container_name }}
    environment:
      EULA: "TRUE"
{% if minecraftserver_version is defined and minecraftserver_version | length > 0 %}
      VERSION: "{{ minecraftserver_version }}"
{% endif %}
{% if minecraftserver_environment is defined and minecraftserver_environment | length > 0 %}
{% for key, value in minecraftserver_environment.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    volumes:
      - {{ minecraftserver_data_volume_directory }}:/data
    ports:
      - {{ minecraftserver_interface }}:{{ minecraftserver_port }}:25565/tcp
    restart: unless-stopped
